<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <h4>I am thinking of a number between 1 and 100</h4>
        <h4>Take a guess!</h4>
        {% if guess %}
        <h2 class="correct">{{clue}}</h2>
        <form action='/reset' method='post'>
            <input type="submit" name="play_again" value="Play Again!"/>
        </form>
        {% else %}
        <h2 class="incorrect">{{clue}}</h2>
        <form action='/action' method='post'>
            Your guess: <input type="text" name='guess' />
            <input type="submit" name="submit_form" value="Take a guess"/>
        </form>
        {% endif %}
    </div>
</body>
</html>