<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Turtles</title>
    
</head>
<body>
    {% if not ninja_color %}
        <img src="{{ url_for('static', filename='images/tmnt.png') }}">
    
    {% elif  ninja_color == "blue" %}
        <img src="{{ url_for('static', filename='images/leonardo.jpg') }}">
    
    {% elif  ninja_color == "orange" %}
    <img src="{{ url_for('static', filename='images/michelangelo.jpg') }}">
    
    {% elif  ninja_color == "purple" %}
    <img src="{{ url_for('static', filename='images/donatello.jpg') }}">
    
    {% elif ninja_color == "red" %}
    <img src="{{ url_for('static', filename='images/raphael.jpg') }}">
    
    {% else %}
    <img src="{{ url_for('static', filename='images/notapril.jpg') }}">
    {% endif %}


</body>
</html>