<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
    </head>
    <body>
        <div id="wrapper">
        <h1>Fill out this form</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <form action='/action' method='post'>
            <p class="display">Your name: <input type="text" name='name' /></p>
            <p class="display">Email: <input type="email" name='email'/></p>
            <p class="display">Dojo:
            <select name="dojo">
                <option value="Online">Online</option>
                <option value="On site">On Site</option>
            </select></p>
            <p class="display">Favorite Language:
            <select name="language">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="C">C</option>
            </select></p>
            <p class="display">Comments: <textarea name="comment"></textarea></p>
            <p class="display"><input type="submit" name="submit_form" /></p>

        </form>
        
        </div>
    </body>
</html>